!!! 5
%html
%head
	%title Relocation Stations
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
	%link{:href => "http://fonts.googleapis.com/css?family=Michroma", :rel => "stylesheet", :type => "text/css"}

	%link{:href => "http://fonts.googleapis.com/css?family=Raleway", :rel => "stylesheet", :type => "text/css"}


%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Relocation Station", root_path

			- if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "New Post", new_pin_path
					%li= link_to "Account", edit_user_registration_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Sign Up", new_user_registration_path
					%li= link_to "Sign In", new_user_session_path
	.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert alert-info"
		= yield